body {
    font-family: arial;
    font-size: 10px;
    background: hsl(0, 0%, 100%);
}

.headerTitle {
    background-color: #8f8f8f;
    margin: 10px 0px;
    padding: 10px;
    color: #fff;
}

.section {
    border: 1px solid #eee;
    padding: 1%;
    font-size: 12px;
    background: #fff;
}